<!doctype html>
<html class="no-js" lang="en">

<head>
	<!-- meta data -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!--font-family-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
		rel="stylesheet">

	 <title>MyShop Online Shopping | All Products</title>
	<!-- For favicon png -->
	<link rel="shortcut icon" type="image/icon" href="/favicon.png" />

	<!--font-awesome.min.css-->
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!--linear icon css-->
	<link rel="stylesheet" href="/assets/css/linearicons.css">

	<!--animate.css-->
	<link rel="stylesheet" href="/assets/css/animate.css">

	<!--owl.carousel.css-->
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

	
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	
	<link rel="stylesheet" href="/assets/css/bootsnav.css">

	
	<link rel="stylesheet" href="/assets/css/style.css">

	
	<link rel="stylesheet" href="/assets/css/responsive.css">


</head>

<body>

	<header id="home" class="welcome-hero">


		
		<div class="top-area">
			<div class="header-area">
				
				<nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"
					data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

					
					<div class="top-search">
						<div class="container">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-search"></i></span>
								<form action="/category" method="POST">
									<select id="cars" name="search" class="form-control">
										<option value="Phones" selected>Phones</option>
										<option value="Furniture">Furniture</option>
										<option value="Jewellery">Jewellery</option>
										<option value="Shirts">Shirts</option>
									</select>
									<button type="submit" name="ok" value="<%=username%>" class="btn btn-primary">Ok</button>
								</form>
								<span class="input-group-addon close-search"><i class="fa fa-times"></i></span>

							</div>
						</div>
					</div>
					<div class="container">
						
						<div class="attr-nav">
							<ul>
								<li class="search">
									<a href="#"><span class="lnr lnr-magnifier"></span></a>
								</li>
								
							</ul>
						</div>
					
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
								data-target="#navbar-menu">
								<i class="fa fa-bars"></i>
							</button>
							<a class="navbar-brand">Welcome To About!</a>

						</div>
						
						<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
							<ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
								<li><a href="/home/<%=username%>">Home</a></li>
								<li><a href="/allProducts/<%=username%>">All Products</a></li>
								<li  class="active"><a href="/about/<%=username%>">About</a></li>
								<li><a href="/My_account/<%=username%>">My Account</a></li>
								
							</ul>
							
						</div>
					</div>
					
				</nav>
				
			</div>
			
			<div class="clearfix"></div>

		</div>


	</header>
	
    <section class="about"><h1>This is an internship project on a Online Shopping Dynamic Website</h1>
    <p><span style="font-weight: 800;">Online Shopping System :</span>

        This project aims to develop online shopping for customers with the goal that it is very easy to shop your loved things from an extensive number of online shopping sites available on the web. With the help of this you can carry out an online shopping from your home. Here is no compelling reason to go to the crowded stores or shopping centers during festival seasons. You simply require a PC or a laptop and one important payment sending
        
        option to shop online.
        
        To get to this online shopping system all the customers will need to have an email and password to login and proceed your shopping . The login credentials for an online shopping system are under high security and nobody will have the capacity to crack it easily.
        
        Upon successful login the customers can purchase a wide range of things such as mobiles, books, apparel, jewellery, infant care, gifts, tools, etc. can be dispatched using an online shopping system. Not just these, you can also purchase from outside nations by few clicks on your mouse. And of course you will get your requested ordered items at your doorstep.
        
        It is simple. You will pick your favourite items from a variety of online shopping sites looking at cost and quality. No need to go physical shops with this you will have more time to spend with your family.It Just need a computer and a payment making options like net banking, credit card, debit card or paypal.Almost a wide range of things can be brought through online shopping system.You can purchase goods from foreign places from your bedroom and you will get your goods at your home.It is extremely secure. Customer service is accessible .
        </p>
    <p><span style="font-weight: 700;">FUNCTIONALITIES:</span>

        <br>1. Homepage: Go to the Amazon website.<br>
        
        2. Category: Search for a product in a specific category.<br>
        
        3. Search bar: List of products displayed.<br>
        
        4. Shopping cart or add to list:<br>
        
        Select the product to be purchased.<br>
        
        5. Product condition: Select the product whether new or used.<br>
        
        6. Seller selection: Add the selected product to the cart<br>
        
        7. Multiple products: Proceed for checkout.<br>
        </p>
</section>
    

	<script src="/assets/js/jquery.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	
	<script src="/assets/js/bootstrap.min.js"></script>


	<script src="/assets/js/bootsnav.js"></script>

	
	<script src="/assets/js/owl.carousel.min.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


	<script src="/assets/js/custom.js"></script>

</body>

</html>