<!doctype html>
<html class="no-js" lang="en">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">

        <title>MyShop Online Shopping | All Products</title>



        <link rel="shortcut icon" type="image/jpg" href="/favicon.png" />

   
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">


    <link rel="stylesheet" href="/assets/css/linearicons.css">


    <link rel="stylesheet" href="/assets/css/animate.css">

    
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

    
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

  
    <link rel="stylesheet" href="/assets/css/bootsnav.css">

   
    <link rel="stylesheet" href="/assets/css/style.css">

  
    <link rel="stylesheet" href="/assets/css/responsive.css">


</head>

<body>
    <header id="home" class="welcome-hero">

        <!-- top-area Start -->
        <div class="top-area">
            <div class="header-area">
                <!-- Start Navigation -->
                <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"
                    data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

                    <!-- Start Top Search -->
                    <div class="top-search">
                        <div class="container">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <form action="/category" method="POST">

                                    <select id="cars" name="search" class="form-control">
                                        <option value="Phones">Phones</option>
                                        <option value="Furniture">Furniture</option>
                                        <option value="Jewellery">Jewellery</option>
                                        <option value="Shirts">Shirts</option>
                                    </select>
                                    <button type="submit" name="ok" value="<%=username%>" class="btn btn-primary">Ok</button>
                                </form>

                                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                   

                    <div class="container">
                        
                        <div class="attr-nav">
                            <ul style="padding-top: 12px;">
                                <li class="search">
                                    <a href="#"><span class="lnr lnr-magnifier"></span></a>
                                </li>
                             
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="lnr lnr-cart"></span>
                                        <span class="badge badge-bg-1"></span>
                                    </a>
                                    <ul class="dropdown-menu cart-list s-cate">
										<%for(var i=0;i<cart.length;i++){%>
											<li class="single-cart-list">
												<img src="/<%=cart[i].img1%>" class="cart-thumb pic" alt="image" >
												<div class="cart-list-txt">
                                                    <h6 style="padding-left: 12px;">
														<%=cart[i].product%>
													</h6>
													<p style="padding-left: 12px;">
														<%=cart[i].quantity%> x <span class="price">$
																<%=cart[i].price%> = $<%=alltotal[i]%>
															</span>
													</p>
													<p style="padding-left: 10px; position: absolute; bottom:1px;">
														 Color: <%=cart[i].color%>
													</p>
												</div>
											</li>
											<%}%>
												<li class="total">
													<span>Total: $<%=total%></span>
													<button class="btn-cart pull-right "><a href="/My-cart/<%=username%>">View Cart</a></button>
													
												</li>
									</ul>
                                </li>
                                
                            </ul>
                        </div>
                      \
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand">Welcome!</a>

                        </div>
                  
                        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                                <li class=" "><a href="/home/<%=username%>">Home</a></li>
                                <li class="active"><a href="/allProducts/<%=username%>"> All Products</a></li>
                                <li><a href="/about/<%=username%>">About</a></li>
                                <li><a href="/My_account/<%=username%>">My Account</a></li>
                                
                            </ul>
                          
                        </div>
                    </div>
                  
                </nav>
             
            </div>
            
            <div class="clearfix"></div>

        </div>
       
    </header>

       
        <section id="new-arrivals" class="new-arrivals">
            <div class="container">
                
                <div class="new-arrivals-content">
                    <div class="row">
                        <%for(var i=0;i<pros.length;i++){%>
                            <a href="/product/<%=username%>/<%=pros[i]._id%>">
                                <div class="col-md-3 col-sm-4">
                                    <div class="single-new-arrival">
                                        <div class="single-new-arrival-bg">
                                            <img src="/<%=pros[i].img1%>" alt="new-arrivals images">
                                            <div class="single-new-arrival-bg-overlay"></div>
                                            <div class="new-arrival-cart">
                                                <p class="arrival-review pull-right">
                                                    <p>
                                                        <span class="glyphicon glyphicon-zoom-in"></span>&ensp;
                                                        <a href="/product/<%=username%>/<%=pros[i]._id%>">Read<span>More</span></a>
                                                    </p>
                                                </p>
                                            </div>
                                        </div>
                                        <h4><a>
                                                <%=pros[i].product%>
                                            </a></h4>
                                        <p class="arrival-product-price">
                                            <%=pros[i].price%> .Rs
                                        </p>

                                    </div>
                                </div>
                            </a>
                            <%}%>


                    </div>
                </div>
            </div>
            <!--/.container-->

        </section>
        <!--/.new-arrivals-->
        <!--new-arrivals end -->

        <script src="/assets/js/jquery.js"></script>

        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

        <!--bootstrap.min.js-->
        <script src="/assets/js/bootstrap.min.js"></script>

        <!-- bootsnav js -->
        <script src="/assets/js/bootsnav.js"></script>

        <!--owl.carousel.js-->
        <script src="/assets/js/owl.carousel.min.js"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


        <!--Custom JS-->
        <script src="/assets/js/custom.js"></script>

</body>

</html>