<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To My Cart</title>

 
    <link rel="shortcut icon" type="image/icon" href="/favicon.png" />

   
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

   
    <link rel="stylesheet" href="/assets/css/linearicons.css">

    
    <link rel="stylesheet" href="/assets/css/animate.css">

    
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

    
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

   
    <link rel="stylesheet" href="/assets/css/bootsnav.css">

 
    <link rel="stylesheet" href="/assets/css/style.css">

  
    <link rel="stylesheet" href="/assets/css/responsive.css">



    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/cart.css">

</head>

<body>

    <body>
        <header id="home" class="welcome-hero">

          
            <div class="top-area">
                <div class="header-area">
                    

                    </div>
                    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"
                        data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

                      
                        <div class="top-search">
                            <div class="container">
                                
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <form action="/category" method="POST">

                                        <select id="cars" name="search" class="form-control">
                                            <option value="Phones">Phones</option>
                                            <option value="Furniture">Furniture</option>
                                            <option value="Jewellery">Jewellery</option>
                                            <option value="Shirts">Shirts</option>
                                        </select>
                                        <button type="submit" name="ok" value="<%=username%>"
                                            class="btn btn-primary">Ok</button>
                                    </form>

                                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                       

                        <div class="container">
                           
                            <div class="attr-nav">
                                <ul>
                                    <li class="search">
                                        <a href="#"><span class="lnr lnr-magnifier"></span></a>
                                    </li>
                                    
                                </ul>
                            </div>
                           
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#navbar-menu">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand">Welcome To My-Cart!</a>
    
                            </div>
                           
                            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                                <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                                    <li><a href="/home/<%=username%>">Home</a></li>
                                    <li><a href="/allProducts/<%=username%>"> All Products</a></li>
                                    <li><a href="/about/<%=username%>">About</a></li>
                                    <li><a href="/My_account/<%=username%>">My Account</a></li>
                                    
                                </ul>
                                
                            </div>
                        </div>
                      
                    </nav>
                   
                </div>
                
                <div class="clearfix"></div>

            </div>
           

        </header>
        <section class="cart">
            <div class="container">
                <table id="cart" class="table table-hover">
                    <thead class="thead">
                        <tr>
                            <th style="width:39%">Product</th>
                            <th style="width:13%" class="text-center">Price</th>
                            <th style="width:3%">Quantity</th>
                            <th style="width:13%" class="text-center">Color</th>
                            <th style="width:13%" class="text-center">All Total</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <%for(var i=0;i<cart.length;i++){%>
                        <tbody class="tbody">
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs"><img src="/<%=cart[i].img1%>"></div>
                                        <div class="col-sm-10">
                                            <h1 class="nomargin"><%=cart[i].product%></h1>
                                            <br>
                                            <p>Quis aute iure reprehenderit in voluptate velit esse .</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price"  style="text-align: center;">$<%=cart[i].price%></td>
                                <td data-th="Quantity" style="text-align: center;">
                                <%=cart[i].quantity%>
                                </td>
                                <td data-th="color" class="text-center"><%=cart[i].color%></div></td>
                                <td data-th="subtotal" style="text-align: center;">
                                    $<%=alltotal[i]%>
                                    </td>
                                <td class="actions" data-th="">
                                    <a href="/My-cart/<%=username%>"><i  class="btn btn-primary btn-bg fa fa-refresh"></i></a>
                                    <a href="/delete/<%=username%>/<%=cart[i]._id%>"><i  class="btn btn-danger btn-bg fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <%}%>
                        <tfoot>
                            <tr>
                                <td><a href="/allProducts/<%=username%>" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue
                                        Shopping</a></td>
                                <td colspan="3" class="hidden-xs"></td>
                                <td class="hidden-xs text-center" style="color: blueviolet;"><strong>Total $ <%=total%></strong></td>
                                <td><a href="/payment/<%=username%>" class="btn btn-success btn-block">Checkout <i
                                            class="fa fa-angle-right"></i></a>
                                </td>
                            </tr>
                        </tfoot>
                </table>
            </div>

        </section>
        <script src="/assets/js/jquery.js"></script>

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    
        <script src="/assets/js/bootstrap.min.js"></script>

        
        <script src="/assets/js/bootsnav.js"></script>

       
        <script src="/assets/js/owl.carousel.min.js"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>



        <script src="/assets/js/custom.js"></script>

    </body>

</html>