<!doctype html>
<html class="no-js" lang="en">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">

    
    <title>Welcome to <%=title%></title>

 
    <link rel="shortcut icon" type="image/icon" href="/favicon.png" />

 
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/css/linearicons.css">

    
    <link rel="stylesheet" href="/assets/css/animate.css">

    
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

   
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

   
    <link rel="stylesheet" href="/assets/css/bootsnav.css">

    
    <link rel="stylesheet" href="/assets/css/style.css">

  
    <link rel="stylesheet" href="/assets/css/responsive.css">


</head>

<body>
    <header id="home" class="welcome-hero">

       
        <div class="top-area">
            <div class="header-area">
              
                <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"
                    data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

                    <div class="top-search">
                        <div class="container">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <form action="/category" method="POST">
                                    <select id="cars" name="search" class="form-control">
                                        <option value="Phones" selected>Phones</option>
                                        <option value="Furniture">Furniture</option>
                                        <option value="Jewellery">Jewellery</option>
                                        <option value="Shirts">Shirts</option>
                                    </select>
                                    <button type="submit" name="ok" value="<%=no%>" class="btn btn-primary">Ok</button>
                                </form>
                                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                   

                    <div class="container">
                        
                        <div class="attr-nav">
                            <ul>
                                <li class="search">
                                    <a href="#"><span class="lnr lnr-magnifier"></span></a>
                                </li>
                               
                            </ul>
                        </div>
                        
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand">Welcome to <%=title%>!</a>

                        </div>
                        
                        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                                <li><a href="/home/<%=no%>">Home</a></li>
                                <li><a href="/allProducts/<%=no%>"> All Products</a></li>
                                <li><a href="/about/<%=no%>">About</a></li>
                                <li><a href="/My_account/<%=no%>">My Account</a></li>
                            </ul>
                            
                        </div>
                    </div>
                    
                </nav>
               
            </div>
            
            <div class="clearfix"></div>

        </div>
   

    </header>
    
    <section id="new-arrivals" class="new-arrivals">
        <div class="container">
            <br>
            <br>
            <br><br><br><br><br>
            <form action="/filter" method="post" class="filter" style="display: flex; align-items: center; justify-content: space-evenly;">
                <select name="price" class="form-control" style="text-align: center; margin: 3px 20px;" required>
                    <option>  SELECT A PRICE RANGE  </option>
                    <option value="0-99">0-99</option>
                    <option value="100-999">100-999</option>
                    <option value="1000-9999">1000-9999</option>
                    <option value="10000-19999">10000-19999</option>
                    <option value="20000-49999">20000-49999</option>
                    <option value="50000-99999">50000-99999</option>
                    <option value="100000-300000">100000-300000</option>
                </select>
                <br><br>
                <select name="brand" class="form-control" style="text-align: center;  margin: 3px 20px;" required>
                    <option>  SELECT A BRAND NAME  </option>
                    <%for(var j=0;j<brand.length;j++){%>
                        <option value="<%=brand[j]%>">
                            <%=brand[j]%>
                        </option>
                        <%}%>
                </select>
                <button type="submit" name="type" value="<%=noname%>" class="btn btn-primary" style="text-align: center;  margin: 3px 20px;">+</button>
            </form>
            
            <div class="new-arrivals-content">
                <div class="row">
                    <%for(var i=0;i<pros.length;i++){%>

                        <div class="col-md-3 col-sm-4">
                            <div class="single-new-arrival">
                                <a href="/product/<%=no%>/<%=pros[i]._id%>">
                                    <div class="single-new-arrival-bg">
                                        <img src="/<%=pros[i].img1%>" alt="new-arrivals images">
                                        <div class="single-new-arrival-bg-overlay"></div>
                                        <div class="new-arrival-cart">
                                            <p>
                                                <span class="glyphicon glyphicon-zoom-in"></span>&ensp;
                                                <a href="/product/<%=no%>/<%=pros[i]._id%>">Read<span>More</span></a>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <h4><a>
                                        <%=pros[i].product%>
                                    </a></h4>
                                <p class="arrival-product-price">
                                    <%=pros[i].price%> .Rs
                                </p>

                            </div>
                        </div>
                        <%}%>


                </div>
            </div>
        </div>
      

    </section>
    

    <script src="/assets/js/jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

   
    <script src="/assets/js/bootstrap.min.js"></script>

   
    <script src="/assets/js/bootsnav.js"></script>

    <script src="/assets/js/owl.carousel.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>



    <script src="/assets/js/custom.js"></script>

</body>

</html>